@using AK.Services
@using AK.Enums
@inherits LayoutComponentBase

<PageTitle>AK</PageTitle>

<div class="vw-100 container-fluid d-flex flex-column vh-100">
    <header class="d-flex flex-column align-items-center justify-content-center" style="flex-shrink: 0">
        <img class="w-100 h-100" src="images/Picture1.png" />
        <h2 class="w-100 fw-bold p-1 border-3 text-center" style="border-color:gray">
            THIẾT BỊ GIÁM SÁT KẾT QUẢ BẮN BÀI 3 AK ỨNG DỤNG TRÊN BIỂN
        </h2>
    </header>
    <main class="flex-grow-1 overflow-auto">
        @Body
    </main>
    <footer class="w-100 d-flex bg-warning justify-content-between align-items-center" style="flex-shrink: 0;">
        <NavMenu/>
    </footer>
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
